.btn-primary,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #7a0dfd;
    border-color: #8c2cff;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #5e13b9;
    border-color: #6917ca;
}

.btn-primary:active:focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(199, 49, 253, 0.5);
}

.text-primary {
    color: #6906df !important;
}

.bg-primary {
    background-color: #f9f8ff !important;
}

.border-primary {
    border-color: #6906df !important;
}

.alert-primary {
    color: #5700c1;
    background-color: #decfff;
    border-color: #d5abff;
}
--bs-primary {
     color: #5700c1;
    background-color: #decfff;
    border-color: #d5abff;
}
.accordion-button:not(.collapsed)
{color: #0035bb !important;
    background-color: #e6f7fa!important;
    box-shadow:inset 0 -1px 0 rgba(0,0,0,.125)
}
.offer-section .nav a.accordion-link.active {
    color: var(--bs-white)!important;
    background: var(--bs-primary)!important;
        }
.clients {
  padding-top: 20px;
}

.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #2743b2;
  opacity: 1;
  background-color: #03265f;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #51b9ff;
}