{% extends 'base.html' %}
{% load static %}
{% block content %}


            <div class="container-fluid feature pb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <div class="container">
                        <div class="logo-image-slider owl-carousel owl-theme owl-rtl owl-loaded">
                                                
                                                
                                                
                                                
                                                
                                                
                                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(2219px, 0px, 0px); transition: 1.5s; width: 3631px;"><div class="owl-item cloned" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://scoda.org/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/yvnfl.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="http://hamivakil.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/9nj03.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="http://icbar.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/amwu1.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://dadiran.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/ugqpd.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://adliran.ir" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/bjolg.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://vokalapress.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/ayljq.jpg">
                                    </a>
                                </div></div><div class="owl-item" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://scoda.org/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/yvnfl.jpg">
                                    </a>
                                </div></div><div class="owl-item" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="http://hamivakil.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/9nj03.jpg">
                                    </a>
                                </div></div><div class="owl-item" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="http://icbar.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/amwu1.jpg">
                                    </a>
                                </div></div><div class="owl-item" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://dadiran.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/ugqpd.jpg">
                                    </a>
                                </div></div><div class="owl-item" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://adliran.ir" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/bjolg.jpg">
                                    </a>
                                </div></div><div class="owl-item active" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://vokalapress.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/ayljq.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned active" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://scoda.org/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/yvnfl.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned active" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="http://hamivakil.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/9nj03.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned active" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="http://icbar.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/amwu1.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned active" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://dadiran.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/ugqpd.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned active" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://adliran.ir" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/bjolg.jpg">
                                    </a>
                                </div></div><div class="owl-item cloned active" style="width: 161.667px; margin-left: 40px;"><div class="slide-card">
                                    <a href="https://vokalapress.ir/" rel="nofollow" target="_blank">
                                        <img src="https://hamedanbar.ir/images/links/ayljq.jpg">
                                    </a>
                                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
                    </div>
                </div>
                <div class="row g-4 ">
                  
                    <div class="col-lg-4  wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <i class="fa fa-user fa-4x" style="color: #072c63;" aria-hidden="true"></i>

                            </div>
                            <h4 style="font-family: Sahel;">جستجوی وکیل</h4>
                            <p class="mb-4" style="font-family: Sahel;"> جستجوی وکلا بر اساس نام، نام خانوادگی، شماره پروانه وکالت، ...

                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <i class="fa fa-desktop fa-4x " aria-hidden="true" style="color: #072c63;"></i>

                            </div>
                            <h4 style="font-family: Sahel;">جستجوی وکیل</h4>
                            <p class="mb-4" style="font-family: Sahel;"> جستجوی وکلا بر اساس نام، نام خانوادگی، شماره پروانه وکالت، ...

                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-4  wow fadeInUp" data-wow-delay="0.8s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <i class="fa fa-search-plus  fa-4x " style="color: #072c63;" aria-hidden="true"></i>

                            </div>
                            <h4 style="font-family: Sahel;">جستجوی وکیل</h4>
                            <p class="mb-4" style="font-family: Sahel;"> جستجوی وکلا بر اساس نام، نام خانوادگی، شماره پروانه وکالت، ...

                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features End -->
        <!-- Services Start -->
<div class="container-fluid service pb-5 py-4" style="direction: rtl;">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 style="font-family: Sahel; color: #0a3dbe;">اخبار</h4>
        </div>
        <div class="row g-4">
            {% for i in page_obj %}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ i.thumbnail.url }}" class="img-fluid">
                    </div>
                    <div class="rounded-bottom p-4">
                        <p>
                            <a href="{% url 'home:detail' i.slug %}" class="h4 d-inline-block mb-4" style="font-family: Sahel;">
                                <strong>{{ i.title }}</strong>
                            </a>
                        </p>
                        <p class="h6 mb-4" style="font-family: Sahel;">{{ i.description|safe|truncatewords:25 }}</p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="#" style="font-family: Sahel;"> ادامه مطلب</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">اولین</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">آخرین</a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>

{% endblock %}