{% extends 'account/base.html' %}

{% block title %}ویرایش کمیسیون{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">ذخیره</button>
                        <a href="{% url 'account:comision' %}" class="btn btn-secondary">لغو</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}