{% extends 'account/base.html' %}

{% block title %}{% block title-meta %}
لیست کمیسیون ها
{% endblock %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> نام کمیسیون</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in comi %}
                                <tr>
                                    <td class="text-center">
                                        <div style="align-items: center;">
                                            <a href="{% url 'account:comision_detail' a.id %}">
                                                <p>{{ a.name }}</p>
                                            </a>
                                            <a class="btn btn-sm btn-primary ml-1" href="{% url 'account:comision_edit' a.id %}">
                                                <i class="fa fa-pencil ml-1"></i> ویرایش
                                            </a>
                                            <a class="btn btn-sm btn-danger ml-1" href="{% url 'account:comision_delete' a.id %}">
                                                <i class="fa fa-trash ml-1"></i> حذف
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}