{% extends 'account/base.html' %}

{% block title %}{% block title-meta %}
هیات مدیره
{% endblock %}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        {% if object_list %}
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>نام وکیل</th>
                            <th>نام خانوادگی</th>
                            <th>عکس</th>
                            <th>شهر</th>
                            <th>عملیات</th> <!-- ستون جدید برای دکمه حذف -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'account:vakil_add' %}">
                                    <p>{{ a.vakil.name }}</p>
                                </a>
                            </td>
                            <td>{{ a.vakil.lastname }}</td>
                            <td>
                                <img src="{{ a.vakil.thumbnail.url }}" width="120">

                                <div class="ajax-file-upload-container"></div>
                            </td>
                            <td>{{ a.city }}</td>
                            <td>
                                <!-- دکمه حذف -->
                                <a href="{% url 'account:riyasat_delete' a.pk %}" class="btn btn-danger btn-sm">حذف</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        {% else %}
        <h3>محتوایی برای نمایش وجود ندارد.</h3>
        {% endif %}
    </div>
</div>
{% endblock %}