{% extends 'account/base.html' %}

{% block title %}{% block title-meta %}
هیات مدیره
{% endblock %}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        {% if object_list %}
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>نام وکیل</th>
                            <th>نام خانوادگی</th>
                            <th>عکس</th>
                            <th>شهر</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'account:vakil_add' %}">
                                    <p>{{ a.vakil.name|escape }}</p>
                                </a>
                            </td>
                            <td>{{ a.vakil.lastname|escape }}</td>
                            <td>
                                <img src="{{ a.vakil.thumbnail.url|escape }}" width="120">

                                <div class="ajax-file-upload-container"></div>
                            </td>
                            <td>{{ a.city|escape }}</td>
                          <td>
  <form method="post" action="{% url 'account:riyasat_delete' a.pk %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm"
            onclick="return confirm('آیا از حذف این عضو هیات مدیره مطمئن هستید؟')">
      حذف
    </button>
  </form>
</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        {% else %}
        <h3>محتوایی برای نمایش وجود ندارد.</h3>
        {% endif %}
    </div>
</div>
{% endblock %}