{% load static %}


  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <span class="brand-text"><p style="font-family: 'B Titr' ;font-size: 14px;">کانون وکلای دادگستری استان همدان</p> </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        <div class="info">
          <a href="#" class="d-block">
            {% if user.get_full_name %}
              {{user.get_full_name}}
            {% else %}
              {{user.username}}
            {% endif %}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item ">
              <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-newspaper"></i>
                <p>
                  اخبار
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'account:article_create' %}" class="nav-link">
                    <i class="fa fa-plus-square"></i>
                    <p>افزودن خبر </p>
                  </a>                </li>
            </li>
        </ul>
         <li class="nav-item">
            <a href="{% url 'account:vakil_list' %}" class="nav-link">
              <i class="fa fa-users"></i>
              <p> فهرست وکلا </p>
            </a>          </li>
                <li class="nav-item">
                  <a href="{% url 'account:vakil_add' %}" class="nav-link">
                    <i class="fa fa-user"></i>
                    <p>افزودن وکیل</p>
                  </a>                </li>

            </li>
          <li class="nav-item">
            <a href="{% url 'account:riyasat_list' %}" class="nav-link">
              <i class="fa fa-user-shield"></i>
              <p> هیات مدیره</p>
            </a>   
                 </li>
                 <li class="nav-item">
                  <a href="{% url 'account:comision_list' %}" class="nav-link">
                    <i class="fa fa-user-shield"></i>
                    <p>  کمیسیون ها</p>
                  </a>          </li>
        </ul>
       
      </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>