{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link text-center">
    <span class="brand-text" style="font-family: 'B Titr'; font-size: 14px;">کانون وکلای دادگستری استان همدان</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <nav class="mt-2" style="font-family: 'Sahel';">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- اخبار -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link active">
            <i class="nav-icon fa fa-newspaper"></i>
            <p>اخبار<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'account:home' %}" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>لیست اخبار</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account:create_article' %}" class="nav-link">
                <i class="fa fa-plus-square nav-icon"></i>
                <p>افزودن خبر</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- وکلا -->
        <li class="nav-item has-treeview">
          <a href="{% url 'account:vakil_list' %}" class="nav-link active">
            <i class="nav-icon fa fa-user"></i>
            <p>وکلا<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'account:vakil_list' %}" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>لیست وکلا</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account:vakil_add' %}" class="nav-link">
                <i class="fa fa-plus-square nav-icon"></i>
                <p>افزودن وکیل</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- هیات مدیره -->
        <li class="nav-item has-treeview">
          <a href="{% url 'account:riyasat_list' %}" class="nav-link active">
            <i class="nav-icon fa fa-users"></i>
            <p>هیات مدیره<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'account:riyasat_list' %}" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>لیست هیات مدیره</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account:add_riyasat' %}" class="nav-link">
                <i class="fa fa-plus-square nav-icon"></i>
                <p>افزودن عضو</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- کمیسیون‌ها -->
        <li class="nav-item has-treeview">
          <a href="{% url 'account:comision' %}" class="nav-link active">
            <i class="nav-icon fa fa-sitemap"></i>
            <p>کمیسیون‌ها<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'account:comision' %}" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>لیست کمیسیون‌ها</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account:comision_add' %}" class="nav-link">
                <i class="fa fa-plus-square nav-icon"></i>
                <p>افزودن کمیسیون</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- پیام‌ها -->
        <li class="nav-item has-treeview">
          <a href="{% url 'account:message_list' %}" class="nav-link active">
            <i class="nav-icon fa fa-envelope"></i>
            <p>پیام‌ها<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'account:message_list' %}" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>لیست پیام‌ها</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
